*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #dfdfe9;
}
.piano{
    width: 750px;
    height: 250px;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px #00000040;
}
.titulo{
    background-color: #000000;
    align-items: center;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
}
.key{
    width: 13%;
    height: 200px;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5%;
    transform: translateX(-22%);
    cursor: pointer;
    border-radius: 4px;
    
}
.key:hover{
    background-color: #464141;
    color: #ffffff;
}
.key:active{
    background: linear-gradient(to bottom, #ffffff 30%, #dad2d2 70%);
    
}